@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* count */
  .allCircle {
    @apply py-[4px] px-[8px] border-0 outline border-or rounded-[50%] text-or;
  }
  .currentCircle {
    @apply border-changeColor outline-dashed text-changeColor;
  }
  .arrow {
    @apply text-or text-3xl font-bold;
  }
}
