@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    /*sign up  */
    .signUpBody{
        @apply py-[5%] pb-[20%] text-center font-figtree

    }
    .signUpSection{
        @apply bg-no-repeat bg-center w-full p-[20%] relative
    }
    .signUpMain{
        @apply flex flex-col items-center gap-gap absolute top-[0px] left-[35%] right-[35%] w-[428px]
    } 


    /* work */
    .label{
        @apply flex items-start justify-between text-left py-[15px] px-[24px] border-2 border-hr rounded-xl w-full has-[:checked]:border-changeColor 
    }

    /* All Input */
   .allInput{
    @apply bg-input text-left pl-[10px] mr-[20px] relative;
}

.circles{
    @apply bg-changeColor text-fbg py-[7px] px-[9px]
}

/* Stack Style */
.stack{
    @apply *:rounded-full *:border *:border-stackHover *:bg-fbg *:px-[12px] *:py-[4px] *:text-center *:flex *:justify-between *:gap-[5px] *:items-center font-normal text-base flex flex-wrap  gap-[16px] p-[20px] overflow-y-scroll h-[40vh] 
}

.stack-scrollbar{
   @apply scrollbar 

}
.stack-scrollbar::-webkit-scrollbar{
    width: 9PX;
}

.stack-scrollbar::-webkit-scrollbar-track{
@apply bg-fbg;
}
.stack-scrollbar::-webkit-scrollbar-thumb{
@apply bg-email;
border-radius: 9999px;
}

.stack-scrollbar::-webkit-scrollbar-button{
display: none;
}
}
/* grid grid-rows-9 grid-flow-col */
