@tailwind base;
@tailwind components;
@tailwind utilities;

.active-tab {
  background: #ffffff;
}

.rounder {
  border-top-right-radius: 10px;
}

aside a.active {
  background-color: #e6e6f0b2;
  color: #2a2a33;
}
