@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Figtree", sans-serif;
}
.auth-box-shadow {
  box-shadow: 0px 1px 16px 0px rgba(100, 100, 100, 0.3);
}

.auth-button {
  display: flex;
  height: 39px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1.5px solid #e5e7eb;
  background: #fff;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: #ffffff;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="file"] {
  opacity: 0;
  position: absolute;
}

.pad {
  padding: 24px 8px 10px 56px;
}

.padding {
  padding: 24px 56px 16px 48px;
}

.bg_effect {
  background-image: url("BG-effect.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  padding-top: 100px;
}

.bg__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  padding-top: 20px;
}
