@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
}

.pad {
  padding: 24px 8px 10px 56px;
}

.padding {
  padding: 24px 56px 16px 48px;
}

.bg_effect {
  background-image: url("BG-effect.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg_overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 25;
}
