@tailwind base;
@tailwind components;
@tailwind utilities;

.active-tab {
  background: #ffffff;
}

.rounder {
  border-top-right-radius: 10px;
}

aside a.active {
  background-color: hsla(240, 25%, 92%, 0.698);
  color: #2a2a33;
}

.project .active::after {
  background: #8333d0;
  content: "";
  width: 109px;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
}
